.step {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-gap: 15px;

  &--title {
    font-size: 1.5em;
    font-weight: bold;
  }

  &--description {
  }

  &--inputs {
  }
}
