$default-text-size: 14px;
$primary-family: 'Noto Sans Mono', monospace;
$secondary-family: 'Montserrat', sans-serif;

$primary-color: rgba(99, 1, 204, 1);
$primary-light-color: rgba(196, 159, 236, 1);
$primary-black-color: rgba(50, 0, 102, 1);
$secondary-color: rgba(255, 255, 255, 1);
$text-light-color: rgba(45, 45, 45, 1);
$text-black-color: rgba(35, 35, 35, 1);

$extra-small-breakpoint: 375px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$extra-large-breakpoint: 1280px;
$panoramic-breakpoint: 1440px;
