@import '../contants';

@mixin button-mixin(
  $color: $secondary-color,
  $border-color: $secondary-color,
  $background: none,
  $hover-color: $text-black-color,
  $hover-border-color: $secondary-color,
  $hover-background: $secondary-color
) {
  border: 2px solid $border-color;
  background: $background;
  color: $color;

  &:hover {
    border: 2px solid $hover-border-color;
    background: $hover-background;
    color: $hover-color;
  }
}
